.elementor-17 .elementor-element.elementor-element-5cd1ad3 {
	--display: flex;
	top: 0px;
	bottom: auto;
	z-index: 10;
	--flex-direction: row;
	--container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
	--container-widget-height: 100%;
	--container-widget-flex-grow: 1;
	--container-widget-align-self: stretch;
	--flex-wrap-mobile: wrap;
	--justify-content: space-evenly;
	--align-items: center;
}

.elementor-17 .elementor-element.elementor-element-5cd1ad3:not(.elementor-motion-effects-element-type-background),
.elementor-17 .elementor-element.elementor-element-5cd1ad3>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-color: var(--e-global-color-b42cd30);
}

.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header {
	top: 0px;
}

.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header-flex {
	top: 0px;
}

.wpr-hidden-header {
	z-index: 10;
}

.wpr-hidden-header-flex {
	z-index: 10;
}

.elementor-17 .elementor-element.elementor-element-bdb525f {
	text-align: left;
}

.elementor-17 .elementor-element.elementor-element-bdb525f .wpr-logo {
	padding: 0px 0px 0px 0px;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #E8E8E8;
	border-radius: 50px 50px 50px 50px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f .wpr-logo-image {
	max-width: 60px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f.wpr-logo-position-left .wpr-logo-image {
	margin-right: 0px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f.wpr-logo-position-right .wpr-logo-image {
	margin-left: 0px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f.wpr-logo-position-center .wpr-logo-image {
	margin-bottom: 0px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f .wpr-logo-image img {
	-webkit-transition-duration: 0.7s;
	transition-duration: 0.7s;
}

.elementor-17 .elementor-element.elementor-element-bdb525f .wpr-logo-title {
	color: #605BE5;
	margin: 0 0 0px;
}

.elementor-17 .elementor-element.elementor-element-bdb525f .wpr-logo-description {
	color: #888888;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-menu-item.wpr-pointer-item {
	transition-duration: 0.2s;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-menu-item.wpr-pointer-item:before {
	transition-duration: 0.2s;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-menu-item.wpr-pointer-item:after {
	transition-duration: 0.2s;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle-wrap {
	text-align: center;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu .wpr-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu>.menu-item-has-children>.wpr-sub-icon {
	color: #FFFFFF;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu .wpr-menu-item:hover,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu>.menu-item-has-children:hover>.wpr-sub-icon,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu .wpr-menu-item.wpr-active-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu>.menu-item-has-children.current_page_item>.wpr-sub-icon {
	color: var(--e-global-color-8e4401e);
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-line-fx .wpr-menu-item:before,
.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-line-fx .wpr-menu-item:after {
	background-color: #FF3C59;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-border-fx .wpr-menu-item:before {
	border-color: #FF3C59;
	border-width: 2px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-background-fx .wpr-menu-item:before {
	background-color: #FF3C59;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .menu-item-has-children .wpr-sub-icon {
	font-size: 14px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-horizontal .menu-item-has-children .wpr-pointer-item {
	padding-right: calc(14px + 7px);
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu .wpr-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu a,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle-text {
	font-family: "Lato", Sans-serif;
	font-size: 18px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-underline .wpr-menu-item:after,
.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-overline .wpr-menu-item:before,
.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-double-line .wpr-menu-item:before,
.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-double-line .wpr-menu-item:after {
	height: 2px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu .wpr-menu-item {
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-background:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-pointer-border:not(.wpr-sub-icon-none) .wpr-nav-menu-vertical .menu-item-has-children .wpr-sub-icon {
	text-indent: -7px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu>.menu-item {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-menu {
	margin-left: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-main-menu-align-left .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	right: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-nav-menu>li>.wpr-sub-icon {
	left: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu>.menu-item-has-children .wpr-sub-icon {
	color: #333333;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item {
	background-color: #ffffff;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 13px;
	padding-bottom: 13px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu>.menu-item-has-children .wpr-sub-menu-item:hover .wpr-sub-icon,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu>.menu-item-has-children.current_page_item .wpr-sub-icon {
	color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item:hover,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-menu-item.wpr-active-menu-item {
	background-color: #605BE5;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu .wpr-sub-icon {
	right: 15px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-main-menu-align-right .wpr-nav-menu-vertical .wpr-sub-menu .wpr-sub-icon {
	left: 15px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-nav-menu-horizontal .wpr-nav-menu>li>.wpr-sub-menu {
	margin-top: 0px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-sub-divider-yes .wpr-sub-menu li:not(:last-child) {
	border-bottom-color: #e8e8e8;
	border-bottom-width: 1px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-sub-menu {
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #E8E8E8;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu a,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	color: #333333;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu li {
	background-color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu li a:hover,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .menu-item-has-children>a:hover:after,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu li a.wpr-active-menu-item,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .menu-item-has-children.current_page_item>a:hover:after {
	color: #ffffff;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu a:hover,
.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu a.wpr-active-menu-item {
	background-color: #605BE5;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu a {
	padding-left: 10px;
	padding-right: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .menu-item-has-children>a:after {
	margin-left: 10px;
	margin-right: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .wpr-mobile-menu-item {
	padding-top: 10px;
	padding-bottom: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8.wpr-mobile-divider-yes .wpr-mobile-nav-menu a {
	border-bottom-color: #e8e8e8;
	border-bottom-width: 1px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu .wpr-mobile-sub-menu-item {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-nav-menu {
	margin-top: 10px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle {
	border-color: #333333;
	width: 50px;
	border-width: 0px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle-text {
	color: #333333;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle-line {
	background-color: #333333;
	height: 4px;
	margin-bottom: 6px;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle:hover {
	border-color: #605BE5;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle:hover .wpr-mobile-toggle-text {
	color: #605BE5;
}

.elementor-17 .elementor-element.elementor-element-ae438c8 .wpr-mobile-toggle:hover .wpr-mobile-toggle-line {
	background-color: #605BE5;
}

@media(max-width:1024px) {
	.elementor-17 .elementor-element.elementor-element-5cd1ad3 {
		top: 0px;
		bottom: auto;
	}

	.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header-flex {
		top: 0px;
	}
}

@media(max-width:767px) {
	.elementor-17 .elementor-element.elementor-element-5cd1ad3 {
		top: 0px;
		bottom: auto;
	}

	.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header {
		top: 0px;
	}

	.elementor-17 .elementor-element.elementor-element-5cd1ad3+.wpr-hidden-header-flex {
		top: 0px;
	}
}